body{
  background-color: #092c3e;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.head{
  text-align: center;
}
.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  background-image: url("../video/patterns.png");
}

.footer{
  display:grid;
      grid-template-columns: repeat(3 , 1fr);
      justify-content: space-between;
      text-align: center;
      grid-gap: 15rem;
      color:rgb(22, 21, 22);
}


@media screen and (max-width: 420px) {
    .main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:1.5rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 200px;
    }
    .footer {
      display:grid;
      grid-template-columns: repeat(1 , 1fr);
      text-align: center;
      grid-gap: 1rem;
  }
  
}

.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border-radius: 10px;
  padding: 50px 5px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.image{
  position: relative;
  height: 150px;
  width: 150px;
}
.image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.data h2{
  font-size: 33px;
  font-weight: 600;
  color:#6a85b6;
  font-family: 'Teko', sans-serif;
  padding:10px;
}
span{
  font-size: 18px;
}
.row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info{
  text-align: center;
  padding: 0 20px;
}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}
.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}